streamlit                                                
joblib                                                           
requests                                                         
os                                                               
pytube
youtube_transcript_api
pandas
nltk.corpus
nltk.stem
nltk
