streamlit                                                
joblib                                                           
requests                                                                                                                        
pytube
youtube_transcript_api
pandas
nltk
